* {
  box-sizing: border-box;
}

body {
  align-items: left;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  background: url('images/lucha-libre2.png');
  background-color: #a9dcfc;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 35px;
  font-family: 'Ultra', serif;
  color: #FF0046;
}

header {
  align-items: center;
  font-size: 90px;
  display: flex;
  height: 10%;
  flex-wrap: wrap;
  max-width: 800px;
}

main {
  width: 1000px;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.grid {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 850px;
}

.grid div {
  flex-grow: 1;
  width: calc(100% / 16);
  height: calc(100% / 8);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.start {
  border: 1px solid black;
  border-radius: 50px;
  padding: 15px;
  box-shadow: 1px 5px #4482ac;
}

.start:hover {
  background-color: #eeeeee;
;
}

.alien {
  background: url('images/blue-mask.png');
}

.player {
  background: url('images/player-gloves.png');
}

.bullet {
  background: url('images/exploding-glove2.png');
}

.bomb {
  background: url('images/bomb.png');
}

.explode {
  background: url('images/boom.png');
}

.boom {
  background: url('images/explosion.png');
}

.hidden {
  display: none!important;
}

.play-again {
  border: 1px solid black;
  border-radius: 50px;
  padding: 15px;
  box-shadow: 1px 5px #4482ac;
}

.play-again:hover {
  background-color: #eeeeee;
}
