* {
  box-sizing: border-box;
}

body {
  /* align-items: left; */
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background: url('images/lucha-libre2.png'), url('images/planet2.png'), url('https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif');
  background-position: right, left, center;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 30%, 100%, auto;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('https://media.giphy.com/media/xT4ApnyPkEjNb5QLWE/giphy.gif') */
  margin: auto;
  width: 900px;
  font-size: 30px;
  padding-top: 100px;
  color: #fd0246;
}

main {
  display: flex;
  justify-content: center;
  margin:auto;
  width: 700px;
  height: 80%;
  line-height: 1.4;
  flex-wrap: wrap;
  font-size: 15px;
}

div.intro {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  border: 3px dashed #fd0246;
  background-color: black;

}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: right;
  height: 300px;
  width: 300px;
  margin: auto;
}

.grid div {
  flex-grow: 1;
  width: calc(100% / 16);
  height: calc(100% / 8);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid white; */
}

.play-screen {
  width: 700px;
  height: 70%;
}

.play-again-container div {
  padding: 20px;
}


.start:hover {
  cursor: pointer;
}

.alien {
  background: url('images/blue-mask.png');
}

.player {
  background: url('images/player-gloves.png');
}

.bullet {
  background: url('images/exploding-glove2.png');
}

.bomb {
  background: url('images/skull.png');
}

.explode {
  background: url('images/boom.png');
}

.boom {
  background: url('images/explosion.png');
}

.hidden {
  display: none!important;
}

.play-again {
  border: 3px dashed #fd0246;
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.play-again:hover {
  background-color: #eeeeee;
}

.alien-army {
  text-decoration: underline;
}

.start {
  width: 400px;
  background-color: black;
  text-align: center;
  justify-content: center;
  padding: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin-bottom: auto;
  color: white;
  border: 3px dashed #fd0246;
}
